<ui5-title level="H4">{{product.ProductName}}</ui5-title>
<div class="product-info">
    <div class="left-panel">
        <div>
            <span>ProductID: </span>
            <span>{{product.ProductID}}</span>
        </div>
        <div>
            <span>Price: </span>
            <span>{{product.UnitPrice | currency:"EUR"}}</span>
        </div>
    </div>
    <div class="right-panel">
        <div class="product-stock">
            <fd-object-number [number]="product.UnitsInStock" unit="PC" [status]="status" [decimal]="2"></fd-object-number>
            <!-- <span>100.00 PC</span> -->
        </div>
        <div>
            <ui5-progress-indicator [value]="product.UnitsInStock" [valueState]="progressState" [hideValue]="true"></ui5-progress-indicator>
        </div>
    </div>
</div>