<ui5-title level="H4">Aniseed Syrup</ui5-title>
<div class="product-info">
    <div class="left-panel">
        <div>
            <span>ProductID: </span>
            <span>3.00</span>
        </div>
        <div>
            <span>Price: </span>
            <span>3.00 EUR</span>
        </div>
    </div>
    <div class="right-panel">
        <div class="product-stock">
            <fd-object-number [number]="1000.37" unit="EUR" status="positive" [decimal]="2"></fd-object-number>
            <!-- <span>100.00 PC</span> -->
        </div>
        <div>
            <ui5-progress-indicator value="100" value-state="Success"></ui5-progress-indicator>
        </div>
    </div>
</div>