<div class="header">
    <ui5-title level="H4">
        Supplier Info
    </ui5-title>
</div>
<div class="simple-form">
    <div class="row">
        <span class="key">Name:</span>
        <span class="value">Grandma Kelly's Homestead</span>
    </div>
    <div class="row">
        <span class="key">Address:</span>
        <span class="value">707 Oxford Rd.</span>
    </div>
    <div class="row">
        <span class="key">ZIP Code / City:</span>
        <span class="value">48104 / Ann Arbor</span>
    </div>
    <div class="row last-row">
        <span class="key">Country:</span>
        <span class="value">USA</span>
    </div>
</div>