<div class="header">
    <ui5-title level="H4">
        Supplier Info
    </ui5-title>
</div>
<div class="simple-form">
    <div class="row">
        <span class="key">Name:</span>
        <span class="value">{{supplier.CompanyName}}</span>
    </div>
    <div class="row">
        <span class="key">Address:</span>
        <span class="value">{{supplier.Address}}</span>
    </div>
    <div class="row">
        <span class="key">ZIP Code / City:</span>
        <span class="value">{{supplier.PostalCode}} / {{supplier.City}}</span>
    </div>
    <div class="row last-row">
        <span class="key">Country:</span>
        <span class="value">{{supplier.Country}}</span>
    </div>
</div>