<ui5-tabcontainer tab-layout="Inline" show-overflow="true" collapsed fixed (tabSelect)="onTabSelected($event)">
    <ui5-tab icon="list" [additionalText]="'('+ allProducts +')'" semantic-color="Default" >
    </ui5-tab>
    <ui5-tab-separator></ui5-tab-separator>
    <ui5-tab icon="accept" [additionalText]="'('+ productsInStock +')'" semantic-color="Positive">
    </ui5-tab>
    <ui5-tab icon="message-warning" [additionalText]="'('+ productsScarce +')'"  semantic-color="Critical">
    </ui5-tab>
    <ui5-tab icon="warning" [additionalText]="'('+ productsOutOfStock +')'"  semantic-color="Negative">
    </ui5-tab>
</ui5-tabcontainer>