<ui5-table class="demo-table" id="tbl" sticky-column-header="">
    <!-- Columns -->
    <ui5-table-column slot="columns-1" sticky="" class="checkbox-column">
        <span style="line-height: 1.4rem">
            <ui5-checkbox [checked]="allSelected$ | async" (change)="onToggleAll($event)"></ui5-checkbox>
        </span>
    </ui5-table-column>
    <ui5-table-column slot="columns-2" sticky="">
        <span style="line-height: 1.4rem">Product</span>
    </ui5-table-column>

    <ui5-table-column slot="columns-3" min-width="800" popin-text="Supplier" sticky="">
        <span style="line-height: 1.4rem">Supplier</span>
    </ui5-table-column>

    <ui5-table-column slot="columns-4" min-width="600" popin-text="Price" class="data-column" demand-popin=""
        sticky="">
        <span style="line-height: 1.4rem">Price</span>
    </ui5-table-column>

    <ui5-table-column slot="columns-5" min-width="600" popin-text="Units Ordered" class="data-column"
        demand-popin="" sticky="">
        <span style="line-height: 1.4rem">Units Ordered</span>
    </ui5-table-column>

    <ui5-table-column slot="columns-6" sticky="" min-width="600" class="data-column">
        <span style="line-height: 1.4rem">Units in Stock</span>
    </ui5-table-column>
    <ui5-table-column slot="columns-7"  sticky=""  class="icon-column">
    </ui5-table-column>

    <ui5-table-row *ngFor="let product of products">
        <ui5-table-cell slot="default-1">
            <ui5-checkbox [checked]="product.selected" (change)="onCheck($event, product)"></ui5-checkbox>
        </ui5-table-cell>
        <ui5-table-cell slot="default-2" class="product-cell">{{product.ProductName}}</ui5-table-cell>
        <ui5-table-cell slot="default-3">{{product.supplierData.CompanyName}}</ui5-table-cell>
        <ui5-table-cell slot="default-4">
            <span class="text-emph">
                {{product.UnitPrice | currency:'EUR'}}
            </span>
        </ui5-table-cell>
        <ui5-table-cell slot="default-5">
            <span class="text-emph">
                {{product.UnitsOnOrder | number:'1.2'}}
            </span>
            PC
        </ui5-table-cell>
        <ui5-table-cell slot="default-6" [ngClass]="getStylingForStock(product)">
            <span class="text-emph">
                {{product.UnitsInStock | number:'1.2'}}
            </span>
            PC
        </ui5-table-cell>
        <ui5-table-cell slot="default-7">
            <ui5-icon name="navigation-right-arrow" class="nav-icon"></ui5-icon>
        </ui5-table-cell>
    </ui5-table-row>
</ui5-table>