ui5-table-cell, ui5-table-column, ui5-checkbox  {
    vertical-align: middle;
}
:host {
    --_ui5_checkbox_width_height: 40px;
}


.product-cell {
    font-weight: bold;
}

.text-emph {
    font-weight: bold;
}

.checkbox-column {
    width: 20px;
}

.data-column {
    width:15%;
    text-align: right;
}


.nav-icon {
    color: #9a9a9a;
    font-size: 10px;
    width: 0.8rem;
    height: 0.8rem;
}

.icon-column {
    // width:10px;
    text-align: left;
    width: 30px;
}


.unit-shortage {
    color:#e9730c;    
}

.unit-in-stock {
    color:#107e3e;
}