@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Regular-full.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Bold-full.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "72";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_base_fiori/fonts/72-Light-full.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SAP-icons";
    src: url("~@sap-theming/theming-base-content/content/Base/baseLib/sap_fiori_3/fonts/SAP-icons.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}


/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.ui5-tc__header {
    background-color: transparent;
}


.ui5-table-column-root {
    justify-content: flex-end;
}

span, p {
    font-family: "72","72full",Arial,Helvetica,sans-serif;
    font-size: 14px;
}

td {
    padding: 0.1rem 0.25rem !important;
}