

.container {
    padding:0 50px;
    padding-top: 10px;
    padding-bottom: 50px;
}

.unit-shortage {
    color:#e9730c;    
}

.unit-in-stock {
    color:#107e3e;
}

.table-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}


