<ui5-shellbar [primaryTitle]="title" logo="assets/sap-logo-svg.svg">
</ui5-shellbar>

<app-tabs-section [products]="products$ | async" (selectionChange)="tabSelectionChange($event)"></app-tabs-section>
<div class="container">
    <div class="table-info">
        <ng-container *ngIf="products$ | async as products">
            <ui5-title level="H4">Products({{products && products.length}})</ui5-title>
            <ui5-input id="myInput" placeholder="Search">
                <ui5-icon slot="icon" name="search"></ui5-icon>
            </ui5-input>
        </ng-container>
    </div>
    <ng-container *ngIf="products$ | async as products">
        <app-table-section [products]="products$ | async"></app-table-section>
    </ng-container>
</div>
<app-floating-toolbar></app-floating-toolbar>