<ui5-shellbar [primaryTitle]="title">
    <img slot="logo" src="assets/sap-logo-svg.svg"/>
</ui5-shellbar>

<app-tabs-section [products]="allProducts$ | async" (selectionChange)="tabSelectionChange($event)"></app-tabs-section>
<div class="container">
    <div class="table-info">
        <ng-container *ngIf="allProducts$ | async as products">
            <ui5-title level="H4">Products({{products && products.length}})</ui5-title>
            <ui5-input id="myInput" placeholder="Search" 
            (input)="onInputChange(searchInput.value)" 
            [value]="searchInput$ | async"
            #searchInput>
                <ui5-icon slot="icon" name="search"></ui5-icon>
            </ui5-input>
        </ng-container>
    </div>
    <ng-container *ngIf="filteredProducts$ | async as products">
        <app-table-section [products]="products"></app-table-section>
    </ng-container>
</div>
<app-floating-toolbar (onOrder)="onOrder()" (onRemove)="onRemove()"></app-floating-toolbar>